<h1>About Us</h1>
this is showing the about page

<div class="page-area">
    <h1>main page: {{username}}</h1>
    <label for="input">Username:</label>
    <input type="text" id="input" #uname> 
    
    <button type="submit" (click)="onclicking(uname)">Update</button>&nbsp;
    <button type="submit" (click)="myclick">my click</button>
</div>
    <br>
    
    <br>
    <div class="row">
        <h2>Comp1 </h2>
        <div class="col-md-6">
            <comp1></comp1>
            </div>
            <br>
            <div class="col-md-6">
                <h2>Comp2 </h2>

                <comp2></comp2>
            </div>
            <br>
            <div class="col-md-6">
                <h2>Comp3 </h2>

                <comp3></comp3>
</div>